<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="./css/styleregister.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="shortcut icon" href="img/banca-en-linea.svg" type="image/x-icon">
     <title>Registro</title>
   </head>
<body>
  <div class="container">
    <div class="title">Registro</div>
    <div class="content">
        
        <form action="/frinsertarclientes" method="post">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nombre</span>
            <input name="nom" type="text" placeholder="Nombre" required>
          </div>
          <div class="input-box">
            <span class="details">Apellido</span>
            <input name="ape" type="text" placeholder="Apellido" required>
          </div>
          <div class="input-box">
            <span class="details">Correo</span>
            <input name="correo" type="text" placeholder="Correo" required>
          </div>
          <div class="input-box">
            <span class="details">Celular</span>
            <input  name="telefono"type="text" placeholder="Celular" required>
          </div>
          <div class="input-box">
            <span class="details">Documento</span>
            <input name="doc" type="text" placeholder="Numero Documento" required>
          </div>
          <div class="input-box">
            <span class="details">Fecha Nacimiento</span>
            <input name="fecnac" type="date" placeholder=Fechanac required>
          </div>
        </div>
        <div class="gender-details">
            <input type="radio" name="sexo" id="dot-1" value="Masculino">
          <input type="radio" name="sexo" id="dot-2" value="Femenino">
          
          <span class="gender-title">Sexo</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Masculino</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Femenino</span>
          </label>
          
          </div>
        </div>
        <div class="button">
            <input type="submit" value="Registrarse" name="btninsertcli" >
        </div>
      </form>
    </div>
  </div>

</body>
</html>
