.modal-container2{
    
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
        
    
}
.modal2{
    
    width: 50%;
    height: 80%;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
        
}

.close2{
    position: absolute;
    top:10px;
    right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #c44a4a;
    color:#fff;
    line-height: 25px;
    cursor:pointer;
    border-radius: 50%;
    
    
}
.modal-close2{
    
   transform: translateY(-200%);
}
.modal-container3{
    
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
        
    
}
.modal3{
    
    width: 80%;
    height: 80%;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
        
}

.close3{
    position: absolute;
    top:10px;
    right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #c44a4a;
    color:#fff;
    line-height: 25px;
    cursor:pointer;
    border-radius: 50%;
    
    
}
.modal-close3{
    
   transform: translateY(-200%);
}