.modal-container22{
    
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
        
    
}
.modal22{
    
    width: 95%;
    height: 95%;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
        
}

.close22{
    position: absolute;
    top:10px;
    right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #c44a4a;
    color:#fff;
    line-height: 25px;
    cursor:pointer;
    border-radius: 50%;
    
    
}
.modal-close22{
    
   transform: translateY(-200%);
}
.modal-container1{
    
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
        
    
}
.modal1{
    
    width: 85%;
    height: 50%;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
        
}

.close1{
    position: absolute;
    top:10px;
    right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #c44a4a;
    color:#fff;
    line-height: 25px;
    cursor:pointer;
    border-radius: 50%;
    
    
}
.modal-close1{
    
   transform: translateY(-200%);
}

.modal-container23{
    
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
        
    
}
.modal23{
    
    width: 95%;
    height: 95%;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
        
}

.close23{
    position: absolute;
    top:10px;
    right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #c44a4a;
    color:#fff;
    line-height: 25px;
    cursor:pointer;
    border-radius: 50%;
    
    
}
.modal-close23{
    
   transform: translateY(-200%);
}